<p>converter works!</p>

<form (submit)="onFormSubmit()">
    <div class="form-group">
        <label for="money">Money: </label>
        <input  (keyup)="onMoneyChange()" type="number" [(ngModel)]="money" id="money" name="money" class="form-control">
    </div>
    <div class="form-group">
            <label for="currency">Currency: </label>
            <select (change)="onCurrencyChange()" name="currency" id="currency" [(ngModel)]="currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="RUB">RUB</option>
                <option value="UAH">UAH</option>
            </select>
        </div>
    <div class="form-group">
        <label for="result">Result: </label>
        <input [value]="result | digits:2" type="number" readonly id="result" name="result" class="form-control">
    </div>

    <button class="btn btn-primary">Convert</button>
</form>